<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlToXamlConverter" version="1.0.5727.24510" targetFramework="net461" />
  <package id="ServiceStack.Client" version="4.5.14" targetFramework="net461" />
  <package id="ServiceStack.Interfaces" version="4.5.14" targetFramework="net461" />
  <package id="ServiceStack.Text" version="4.5.14" targetFramework="net461" />
</packages>